<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>2E4778</string>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allows application to save drawings to camera roll</string>
</dict>
</plist>
